/*Background color- Per lesson 11 instructions I changed the color to #e7fbfb, I did not make adjustments to heading because the header is the logo image*/
body {
    background-color: #e7fbfb;
}
img {
    max-width: 100%;
}
/*Navigation Bar*/

/*this affects the list, this is the parent or the container of the flexbox*/
nav ul {
    margin: 0;
    padding: 0%;
    list-style-type: none;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*this affects each item in the list all the items in the list are "a"*/
nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    display: block;
}
/*changes the color when link is selected but not clicked*/
nav a:focus {
    background-color: cyan;
    color:blue; 
}
/*changes color when mouse is hovering*/
nav a:hover {
    color: coral;
}
Body{
    font-family: ;
    font-weight: ;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
/* this code is centering the footer and fixed at the bottom of page*/
footer ul {
    position: fixed;
    bottom: 0;
    justify-content: center;
    width: 100vw;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

}
Footer li {
    text-decoration: none;
    display: block;
}


